# IPL Dataset

Importing the dataset and libraries

In [3]:
import pandas as pd
import numpy as np

In [19]:
# Load the datasets with corrected paths
matches = pd.read_csv('../Task 1/matches.csv')
deliveries = pd.read_csv('../Task 1/deliveries.csv')

# Preview the data
print(matches.head())
print(deliveries.head())

       id   season        city        date match_type player_of_match  \
0  335982  2007/08   Bangalore  2008-04-18     League     BB McCullum
1  335983  2007/08  Chandigarh  2008-04-19     League      MEK Hussey
2  335984  2007/08       Delhi  2008-04-19     League     MF Maharoof
3  335985  2007/08      Mumbai  2008-04-20     League      MV Boucher
4  335986  2007/08     Kolkata  2008-04-20     League       DJ Hussey

                                        venue                        team1  \
0                       M Chinnaswamy Stadium  Royal Challengers Bangalore
1  Punjab Cricket Association Stadium, Mohali              Kings XI Punjab
2                            Feroz Shah Kotla             Delhi Daredevils
3                            Wankhede Stadium               Mumbai Indians
4                                Eden Gardens        Kolkata Knight Riders

                         team2                  toss_winner toss_decision  \
0        Kolkata Knight Riders  Royal Challengers Bangalore         field
1          Chennai Super Kings          Chennai Super Kings           bat
2             Rajasthan Royals             Rajasthan Royals           bat
3  Royal Challengers Bangalore               Mumbai Indians           bat
4              Deccan Chargers              Deccan Chargers           bat

                        winner   result  result_margin  target_runs  \
0        Kolkata Knight Riders     runs          140.0        223.0
1          Chennai Super Kings     runs           33.0        241.0
2             Delhi Daredevils  wickets            9.0        130.0
3  Royal Challengers Bangalore  wickets            5.0        166.0
4        Kolkata Knight Riders  wickets            5.0        111.0

   target_overs super_over method    umpire1         umpire2
0          20.0          N    NaN  Asad Rauf     RE Koertzen
1          20.0          N    NaN  MR Benson      SL Shastri
2          20.0          N    NaN  Aleem Dar  GA Pratapkumar
3          20.0          N    NaN   SJ Davis       DJ Harper
4          20.0          N    NaN  BF Bowden     K Hariharan
   match_id  inning           batting_team                 bowling_team  over  \
0    335982       1  Kolkata Knight Riders  Royal Challengers Bangalore     0
1    335982       1  Kolkata Knight Riders  Royal Challengers Bangalore     0
2    335982       1  Kolkata Knight Riders  Royal Challengers Bangalore     0
3    335982       1  Kolkata Knight Riders  Royal Challengers Bangalore     0
4    335982       1  Kolkata Knight Riders  Royal Challengers Bangalore     0

   ball       batter   bowler  non_striker  batsman_runs  extra_runs  \
0     1   SC Ganguly  P Kumar  BB McCullum             0           1
1     2  BB McCullum  P Kumar   SC Ganguly             0           0
2     3  BB McCullum  P Kumar   SC Ganguly             0           1
3     4  BB McCullum  P Kumar   SC Ganguly             0           0
4     5  BB McCullum  P Kumar   SC Ganguly             0           0

   total_runs extras_type  is_wicket player_dismissed dismissal_kind fielder
0           1     legbyes          0              NaN            NaN     NaN
1           0         NaN          0              NaN            NaN     NaN
2           1       wides          0              NaN            NaN     NaN
3           0         NaN          0              NaN            NaN     NaN
4           0         NaN          0              NaN            NaN     NaN

In [5]:
print(matches.info())
print(matches.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1095 entries, 0 to 1094
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1095 non-null   int64
 1   season           1095 non-null   object
 2   city             1044 non-null   object
 3   date             1095 non-null   object
 4   match_type       1095 non-null   object
 5   player_of_match  1090 non-null   object
 6   venue            1095 non-null   object
 7   team1            1095 non-null   object
 8   team2            1095 non-null   object
 9   toss_winner      1095 non-null   object
 10  toss_decision    1095 non-null   object
 11  winner           1090 non-null   object
 12  result           1095 non-null   object
 13  result_margin    1076 non-null   float64
 14  target_runs      1092 non-null   float64
 15  target_overs     1092 non-null   float64
 16  super_over       1095 non-null   object
 17  method           21 non-null     object
 18  umpire1          1095 non-null   object
 19  umpire2          1095 non-null   object
dtypes: float64(3), int64(1), object(16)
memory usage: 171.2+ KB
None
                 id  result_margin  target_runs  target_overs
count  1.095000e+03    1076.000000  1092.000000   1092.000000
mean   9.048283e+05      17.259294   165.684066     19.759341
std    3.677402e+05      21.787444    33.427048      1.581108
min    3.359820e+05       1.000000    43.000000      5.000000
25%    5.483315e+05       6.000000   146.000000     20.000000
50%    9.809610e+05       8.000000   166.000000     20.000000
75%    1.254062e+06      20.000000   187.000000     20.000000
max    1.426312e+06     146.000000   288.000000     20.000000

In [ ]:
#Checking for any null values
print(matches.isnull().sum())

id                    0
season                0
city                 51
date                  0
match_type            0
player_of_match       5
venue                 0
team1                 0
team2                 0
toss_winner           0
toss_decision         0
winner                5
result                0
result_margin        19
target_runs           3
target_overs          3
super_over            0
method             1074
umpire1               0
umpire2               0
dtype: int64

In [7]:
# Fill missing values 
matches['city'] = matches['city'].fillna('Unknown')
matches['player_of_match'] = matches['player_of_match'].fillna('No Award')
matches['winner'] = matches['winner'].fillna('No Result')
matches['result_margin'] = matches['result_margin'].fillna(0)
matches['method'] = matches['method'].fillna('Normal')

# Drop rows where target_runs or target_overs are missing
matches = matches.dropna(subset=['target_runs', 'target_overs'])

# Final check
print("Remaining missing values:\n")
print(matches.isnull().sum())

Remaining missing values:

id                 0
season             0
city               0
date               0
match_type         0
player_of_match    0
venue              0
team1              0
team2              0
toss_winner        0
toss_decision      0
winner             0
result             0
result_margin      0
target_runs        0
target_overs       0
super_over         0
method             0
umpire1            0
umpire2            0
dtype: int64

## 1.  Number of matches played by each Team

In [8]:
matches['team1'].value_counts()

team1
Royal Challengers Bangalore    134
Chennai Super Kings            128
Mumbai Indians                 123
Kolkata Knight Riders          121
Rajasthan Royals               101
Kings XI Punjab                 92
Sunrisers Hyderabad             86
Delhi Daredevils                84
Delhi Capitals                  41
Deccan Chargers                 39
Punjab Kings                    31
Pune Warriors                   23
Lucknow Super Giants            22
Gujarat Titans                  21
Gujarat Lions                   16
Royal Challengers Bengaluru      9
Kochi Tuskers Kerala             7
Rising Pune Supergiant           7
Rising Pune Supergiants          7
Name: count, dtype: int64

## 2. Top 10 Winning Teams

In [9]:
matches['winner'].value_counts().head(10)

winner
Mumbai Indians                 144
Chennai Super Kings            138
Kolkata Knight Riders          131
Royal Challengers Bangalore    116
Rajasthan Royals               112
Kings XI Punjab                 88
Sunrisers Hyderabad             88
Delhi Daredevils                67
Delhi Capitals                  48
Deccan Chargers                 29
Name: count, dtype: int64

## 3. Analysis based on Toss

In [10]:
matches['toss_decision'].value_counts()

toss_decision
field    702
bat      390
Name: count, dtype: int64

## 4. Top 10 Players with the most POTM Award

In [11]:
matches['player_of_match'].value_counts().head(10)

player_of_match
AB de Villiers    25
CH Gayle          22
RG Sharma         19
DA Warner         18
V Kohli           18
MS Dhoni          17
RA Jadeja         16
YK Pathan         16
SR Watson         16
AD Russell        15
Name: count, dtype: int64

## 5. Count of Matches per season

In [16]:
matches['season'].value_counts().sort_index()

season
2007/08    58
2009       57
2009/10    60
2011       72
2012       74
2013       76
2014       60
2015       58
2016       60
2017       59
2018       60
2019       60
2020/21    60
2021       60
2022       74
2023       73
2024       71
Name: count, dtype: int64

## 6. Top Batsman with highest Runs Per Season

In [13]:

# Standardize column names
matches.columns = matches.columns.str.lower()
deliveries.columns = deliveries.columns.str.lower()

# Merge to get 'season' info in deliveries
merged = deliveries.merge(matches[['id', 'season']], left_on='match_id', right_on='id')

# Group by season and batter, then sum runs
runs_per_season = merged.groupby(['season', 'batter'])['batsman_runs'].sum().reset_index()

# Get top scorer of each season
top_scorers = runs_per_season.sort_values(['season', 'batsman_runs'], ascending=[True, False]) \
                              .drop_duplicates(subset=['season'], keep='first')

# Show result
print(top_scorers)

       season         batter  batsman_runs
115   2007/08       SE Marsh           616
229      2009      ML Hayden           572
446   2009/10   SR Tendulkar           618
502      2011       CH Gayle           608
684      2012       CH Gayle           733
910      2013     MEK Hussey           733
1088     2014     RV Uthappa           660
1148     2015      DA Warner           562
1383     2016        V Kohli           973
1422     2017      DA Warner           641
1594     2018  KS Williamson           735
1694     2019      DA Warner           692
1866  2020/21       KL Rahul           676
2051     2021     RD Gaikwad           635
2144     2022     JC Buttler           863
2422     2023   Shubman Gill           890
2605     2024        V Kohli           741

## 7. Top Player with the most runs in Single Season

In [24]:

# Lowercase column names for consistency
matches.columns = matches.columns.str.lower()
deliveries.columns = deliveries.columns.str.lower()

# Merge 'season' into deliveries data
merged = deliveries.merge(matches[['id', 'season']], left_on='match_id', right_on='id')

# Group by season and batter, then sum the runs
season_runs = merged.groupby(['season', 'batter'])['batsman_runs'].sum().reset_index()

# Find the row with the maximum runs in a single season
top_season_scorer = season_runs.sort_values(by='batsman_runs', ascending=False).head(1)

# Rename columns for clarity
top_season_scorer.columns = ['Season', 'Batsman', 'Runs']

# Show the result
print(top_season_scorer)

     Season  Batsman  Runs
1383   2016  V Kohli   973

## 8. Top player with the most SIXES and FOURS

In [14]:
# Lowercase columns for consistency
deliveries.columns = deliveries.columns.str.lower()

# Most SIXES
sixes = deliveries[deliveries['batsman_runs'] == 6]
six_counts = sixes['batter'].value_counts().reset_index()
six_counts.columns = ['Batsman', 'Sixes']
top_sixer = six_counts.head(1)

# Most FOURS
fours = deliveries[deliveries['batsman_runs'] == 4]
four_counts = fours['batter'].value_counts().reset_index()
four_counts.columns = ['Batsman', 'Fours']
top_four_hitter = four_counts.head(1)

# Print results
print("üèè Batsman with Most Sixes:")
print(top_sixer)

print("\nüèè Batsman with Most Fours:")
print(top_four_hitter)

üèè Batsman with Most Sixes:
    Batsman  Sixes
0  CH Gayle    359

üèè Batsman with Most Fours:
    Batsman  Fours
0  S Dhawan    768